@import "./reset.scss";

html {
    box-sizing: border-box;
}

body {
    background-color: #050014;
    background-image: url(../img/black-thread.png);
    height: 100vh;
    animation: 15s linear slide infinite;
    max-width: none;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 400px;
    }
}

h1 {
    font-size: 4.5rem;
    text-align: center;
    margin: 0 10px 45px;
    padding-top: 20px;
}

// Search styles
.search-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

.ghost-text {
    animation: 8s ease-in-out fader infinite;

    @keyframes fader {
        from {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

#code-input {
    margin: 10px;
}

// Images styles
.images-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

img {
    margin: 20px;
    display: none;
}

.problem-wrapper {
    font-size: 1.25rem;
    line-height: 1.25;
    width: 60%;
    margin: 10px auto;
}

// Victory message
#finale-message {
    font-size: 2.5rem;
    display: none;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    line-height: 1.2;
}

footer {
    color: white;
    background-color: black;
    line-height: 1.2rem;
    margin-top: 15px;
    border-top: solid 1px #8cbd18;
    padding: 8px 0px;
    display: flex;
    flex-flow: row wrap;
    -moz-box-pack: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

footer > a {
    color: #8cbd18;
    &:hover,
    &:focus {
        color: #107c10;
    }
}
